*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vh;
    height: 100vh;
    display: grid;
    grid-auto-rows: 155px 1fr  10px;
    flex-direction: column;
    background-color: #F5CF06;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 5vh;

}
main{
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 20vh;
}
.content-text {
    display: flex;
    color:#8E4106;
    font-size: 60px;
    padding-top: 40vh;
    top: 90;
    text-align: center;
}
.texto1 {
    color: #8E4106;
    font-size: 20px;
    padding-top: 60px;
}

.background-pikachu {
    position: absolute;
    width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}
.image-pikachu{
    position: absolute;
    width: 559px;
    height: 8-0px;
    max-height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 40vh;
    z-index: -1;
}
.image-pokebola {
    height: 35px;
    
}
.image-download {
    display: flex;
    padding-top: 60vh;
    
}
footer{
    place-items: center;
}

@media (max-width: 1024px) {
    
    .background-pikachu{
        top: 10px;
    }
    .image-pikachu {
      
    }
    
    .content-text {
        display: flex;
        transform: translateX(0%);
        top: 90px;
        font-size: 64px;
        text-align: center;
    }

}